:root{
    --mainBlue: #2a2a72;
    --lightBlue: #009ffd;
    --mainWhite: #d7d7dfed;
    --mainDark: #232528;
    --mainYellow: #ffa400;
}
body {
  
    color: var(--mainBlack);
    background: var(--mainWhite);
    
    font-family: 'McLaren', cursive !important;
    line-height: 1.4;
  }

  .back {
        /* min-height: calc(100vh - 66px);
        background: url("./defaultBcg.jpeg") center/cover no-repeat; */
        background:var(--mainWhite);
        font-family: 'Lobster', cursive !important;
        margin-top: 2rem;
        
        /* display: flex; 
         align-items: center;  
          justify-content: center; */
      }


.shop{
 width: 3rem;
}
.navbar{
   background-color: #151516ed !important; 
}
.ul{
    display: inline !important;
}
.sacs{
    background: #4d5052 !important;
}
.foot{
    font-family: 'Lobster', cursive !important;
  
}
.lire{
    font-family: 'Pacifico', cursive;
}

/* ---- */


  .karba{
    font-family: 'Liu+Jian+Mao+Cao' ;
    border: 2px solid rgba(226, 201, 60, 0.993);
  }
  .photo{
    border-radius: 70% !important;
  }
 
